{% include '_header.html' %}
<div class="breadcrumb-wrapper bg-cover" style='background-image: url("{{ url_for('.static', filename='/img/breadcrumb.png') }}");'>
            <div class="line-shape">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/line.png') }}" alt="shape-img">
            </div>
            <div class="plane-shape float-bob-y">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/plane.png') }}" alt="shape-img">
            </div>
            <div class="doll-shape float-bob-x">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/doll.png') }}" alt="shape-img">
            </div>
            <div class="parasuit-shape float-bob-y">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/parasuit.png') }}" alt="shape-img">
            </div>
            <div class="frame-shape">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/frame.png') }}" alt="shape-img">
            </div>
            <div class="bee-shape float-bob-x">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/bee.png') }}" alt="shape-img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <h1 class="wow fadeInUp el-messiri-class" data-wow-delay=".3s">كِتَابَةُ الأرْقَام</h1>
                </div>
            </div>
</div>
<section class="program-section section-padding section-bg-2 fix">
            <div class="top-shape">
                <img src="{{ url_for('.static', filename='/img/section-top-shape.png') }}" alt="shape-img">
            </div>
            <div class="bottom-shape">
                <img src="{{ url_for('.static', filename='/img/section-bottom-shape.png') }}" alt="shape-img">
            </div>
            <div class="mask-shape float-bob-x">
                <img src="{{ url_for('.static', filename='/img/program/mask.png') }}" alt="shape-img">
            </div>
            <div class="pencil-shape">
                <img src="{{ url_for('.static', filename='/img/program/pencil.png') }}" alt="shape-img">
            </div>
            <div class="mask-shape-2">
                <img src="{{ url_for('.static', filename='/img/program/mask-2.png') }}" alt="shape-img">
            </div>
            <div class="compass-shape">
                <img src="{{ url_for('.static', filename='/img/program/compass.png') }}" alt="shape-img">
            </div>
            <div class="container">
                <div class="section-title text-center mt-60">
                    <h2 class="wow fadeInUp el-messiri-class" data-wow-delay=".3s">إِسْتَمِع إِلَى الرَّقْم وحَاوِل رَسْمَهُ عَلَى اللَّوْحَةِ السَّوْدَاءِ بِنَفْسِكَ</h2>
                </div>
                <div class="text-center">
                    <div style="margin-bottom: 0.5rem" class="wow fadeInUp" data-wow-delay=".3s">
                        <span id="aud_ar"><i class='fas fa-volume-up' style="font-size: 1rem;"></i> <img width="28" height="28" src="https://img.icons8.com/fluency/48/saudi-arabia-circular.png" alt="great-britain-circular"/></span>
                        <span id="aud_eng" style="margin-left: 2rem;"><i class='fas fa-volume-up' style="font-size: 1rem;"></i> <img width="28" height="28" src="https://img.icons8.com/fluency/48/great-britain-circular.png" alt="great-britain-circular"/></span>
                        <span id="aud_fr" style="margin-left: 2rem;"><i class='fas fa-volume-up' style="font-size: 1rem;"></i> <img width="28" height="28" src="https://img.icons8.com/fluency/48/france-circular.png" alt="france-circular"/></span>
                    </div>
                    <div class="char-text wow fadeInUp" data-wow-delay=".3s" style="margin-bottom: 0.5rem;">
                        <p id="to_guess" style="font-size: 200%; display: inline;" class="el-messiri-class"></p>
                    </div>
                    <canvas id="sketchpad" height="350" width="350" class="wow fadeInUp" data-wow-delay=".3s"></canvas>
                    <div>
                        <h4 class="el-messiri-class" id="label"></h4>
                    </div>
                    <div>
                            <button id="clear_button" class="theme-btn wow fadeInUp"  data-wow-delay=".3s">فَسْخ</button>
                            <button id="predict" class="theme-btn wow fadeInUp"  data-wow-delay=".4s">نَتِيجَة</button>
                            <button id="tryAnother" class="theme-btn wow fadeInUp"  data-wow-delay=".5s">رَقْمٌ آخَر </button>
                            <a href="{{ url_for('play') }}"><button id="back" class="theme-btn wow fadeInUp"  data-wow-delay=".6s">رُجُوع</button></a>
                    </div>
                </div>
            </div>
</section>
<script src="{{ url_for('.static', filename='/dl/main.js') }}"></script>
{% include '_footer2.html' %}