{% include '_header2.html' %}
<div class="breadcrumb-wrapper bg-cover" style='background-image: url("{{ url_for('.static', filename='/img/breadcrumb.png') }}");'>
            <div class="line-shape">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/line.png') }}" alt="shape-img">
            </div>
            <div class="plane-shape float-bob-y">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/plane.png') }}" alt="shape-img">
            </div>
            <div class="doll-shape float-bob-x">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/doll.png') }}" alt="shape-img">
            </div>
            <div class="parasuit-shape float-bob-y">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/parasuit.png') }}" alt="shape-img">
            </div>
            <div class="frame-shape">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/frame.png') }}" alt="shape-img">
            </div>
            <div class="bee-shape float-bob-x">
                <img src="{{ url_for('.static', filename='/img/breadcrumb-shape/bee.png') }}" alt="shape-img">
            </div>
            <div class="container">
                <div class="page-heading">
                    <h1 class="wow fadeInUp el-messiri-class" data-wow-delay=".3s">انْشَاءُ حِسابِ وَلي</h1>
                    <ul class="breadcrumb-items wow fadeInUp" data-wow-delay=".5s">
                        <li class="el-messiri-class">
                                انْشَاءُ حِسابِ وَلي
                        </li>
                        <li>
                            <i class="fas fa-chevron-left"></i>
                        </li>
                        <li>
                            <a href="{{ url_for('hello_world') }}" class="el-messiri-class">
                                الرَّئيسيَّةُ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
</div>
<section class="contact-section fix section-padding">
            <div class="container">
                <div class="contact-wrapper-2">
                        <div>
                            <div class="contact-content"  style="text-align: center">
                                <form action="{{ url_for('signup_parent') }}" id="contact-form" method="POST" class="contact-form-items" style="width: 30%; margin-left: auto; margin-right: auto" >
                                    <div class="col">
                                        <div class="row wow fadeInUp" data-wow-delay=".3s" style="margin-bottom: 3rem">
                                            <div class="form-clt" style="text-align: right">
                                                <span class="el-messiri-class">البريد الالكتروني</span>
                                                <input style="text-align: right" type="email" name="email">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">اسم الحساب</span>
                                                <input style="text-align: right" type="text" name="username">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">الاسم</span>
                                                <input style="text-align: right" type="text" name="fname">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">اللقب</span>
                                                <input style="text-align: right" type="text" name="lname">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">الجنس</span>
                                                <select name="gender" id="gender" style="text-align: right">
                                                    <option value="" style="text-align: right;">اختر</option>
                                                    <option value="MALE">ذكر</option>
                                                    <option value="FEMALE">أنثى</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">تاريخ الميلاد</span>
                                                <input style="text-align: right" type="date" name="birthday">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">اسم حساب الطفل</span>
                                                <input style="text-align: right" type="text" name="child">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">كلمة السر</span>
                                                <input style="text-align: right" type="password" name="password">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <div class="form-clt"  style="text-align: right">
                                                <span class="el-messiri-class">تأكيد كلمة السر</span>
                                                <input style="text-align: right" type="password" name="confirm_password">
                                            </div>
                                        </div>
                                        <div class="row wow fadeInUp" data-wow-delay=".5s" style="margin-bottom: 3rem">
                                            <h3 style="color: red;" class="el-messiri-class">{{ error }}</h3>
                                        </div>
                                        <div class="wow fadeInUp" data-wow-delay=".9s">
                                            <button type="submit" class="btn el-messiri-class">
                                               <i class="fa-solid fa-arrow-left-long"></i> انْشَاءُ حِساب
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
</section>
{% include '_footer2.html' %}